.text {
    color: var(--link-color);

    font-size: 21px;
    line-height: 1.381;
    font-weight: 500;
    letter-spacing: .011em;
}

.text:hover {
    text-decoration: underline;
    cursor: pointer;
}

.arrow {
    padding-left: 6.3px;

}