.text {
    color: var(--link-color);
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;

    letter-spacing: .011em;
}

.text:hover {
    text-decoration: underline;
    cursor: pointer;
}

.arrow {
    padding-left: 5.1px;
    height: 11px;
    width: auto;

}