.container {
  position: relative;
  max-width: 1240px;
  margin: auto;
}

.carouselImage {
  width: 100%;
  height: auto;
  border-radius: 6px;

  object-fit: cover;
  aspect-ratio: 21/9;
}

.carouselText {
  position: absolute;
  left: 26px;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: fit-content;
  padding: 20px;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
  color: #f5f5f7;
  cursor: pointer;
}

.title {
  font-size: 32px;
  line-height: 1.125;
  font-weight: 700;
  letter-spacing: -0.03em;
  text-align: start;
}

.subtitle {
  margin-top: 6px;
  font-size: 14px;
  line-height: 1.28577;
  font-weight: 600;
  letter-spacing: -0.005em;
  text-align: start;
}

.seeMore {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-top: 12px;
  color: #2997ff;
  font-size: 17px;
  line-height: 1.23536;
  font-weight: 500;
  letter-spacing: 0.011em;
  white-space: nowrap;
}

.carouselText:hover .seeMore {
  text-decoration: underline;
}

.arrow {
  padding-left: 5.1px;
  height: 12px;
  width: auto;
}

.pauseButton {
  display: flex;
  position: absolute;
  right: 100px;
  bottom: 14px;
  z-index: 10;
  justify-content: center;
  align-items: center;
  background-color: var(--carousal-pause-bg);
  cursor: pointer;

  width: 36px;
  height: 36px;
  border-radius: 100%;
  user-select: none;
}

.prevArrow {
  display: flex;
  position: absolute;
  right: 54px;
  bottom: 12px;
  z-index: 10;
  justify-content: center;
  align-items: center;
  background-color: var(--carousal-arrow-bg);
  cursor: pointer;

  width: 40px;
  height: 40px;
  border-radius: 5px;

  user-select: none;
}

.nextArrow {
  display: flex;
  position: absolute;
  right: 12px;
  bottom: 12px;
  z-index: 10;
  justify-content: center;
  align-items: center;
  background-color: var(--carousal-arrow-bg);
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 5px;

  user-select: none;
}

.prevArrow img,
.nextArrow img {
  width: auto;
}

.pauseButton:hover {
  background-color: var(--hover-pause-bg);
}

.nextArrow:hover,
.prevArrow:hover {
  background-color: var(--hover-arrow-bg);
}

@media (max-width: 1260px) {
  .carouselImage {
    border-radius: 0px;
  }
}

@media only screen and (max-width: 1068px) {
  .title {
    font-size: 28px;
  }

  .subtitle {
    font-size: 12px;
  }

  .seeMore {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .carouselImage {
    object-fit: cover;
    aspect-ratio: 16/10;
  }

  .carouselText {
    width: 80%;
    color: 15px;
  }

  .pauseButton {
    right: 78px;
    width: 26px;
    height: 26px;
    bottom: 13px;
  }

  .prevArrow {
    right: 44px;
    width: 30px;
    height: 30px;
  }

  .nextArrow {
    width: 30px;
    height: 30px;
  }

  .pauseButton img {
    width: 10px;
    height: auto;
  }

  .prevArrow img,
  .nextArrow img {
    width: 11px;
    height: auto;
  }
}

@media only screen and (max-width: 735px) {
  .carouselText {
    left: 12px;
    bottom: 12px;
    padding: 16px;
  }
  .title {
    font-size: 22px;
  }

  .subtitle {
    margin-top: 4px;

    font-size: 11px;
  }

  .seeMore {
    margin-top: 6px;
    font-size: 12px;
  }
  .arrow {
    padding-left: 4px;
    height: 11px;
  }
}
