.page {
  color: var(--main-text-color);
  margin-top: 45px;
}


.topRow {
  background-color: var(--row-bg);
  padding: 10px 0px;
}

.tileContainer {
  max-width: 1440px;
  padding: 0 30px;
  margin: 0 auto;
  height: 500px;
  display: flex;
  gap: 30px;
}



.tile {
  flex: 1;
  background: var(--tile-bg);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.webLogo {
  filter: var(--web-logo);
}

.intro {
  max-width: 430px;
  text-align: center;
  font-size: 28px;
  line-height: 1.14;
  font-weight: 600;
  letter-spacing: .001em;
  padding: 28px 10px 16.8px;
}


.pcHead {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -0.003em;
}

.subHead {
  font-size: 21px;
  font-weight: 400;
  max-width: 325px;
  text-align: center;
  padding: 8px 0px;
}

@media (max-width: 991px) {
  .tileContainer {
    max-width: 100%;
    padding: 0;
    margin: 0;
    height: 1000px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}


/*  */

.section {
  background-color: var(--row-bg);
  margin-top: 15px;
  padding: 36px 0;
}

.sectionContent {
  margin: 0 auto;
  width: 980px;
  position: relative;
}

.cardList {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  gap: 36px;
}

.card {
  position: relative;
  height: 100%;
  background-color: var(--main-bg);
  color: var(--main-text-color);
  display: flex;
  border-radius: 16px;
  overflow: hidden;

}

.cardHero {
  flex-direction: row;
  height: 362px;
  width: 100%;
}

.heroImg {
  height: 100%;
  width: auto;
}

.cardDesc {
  display: flex;
  flex-direction: column;
  padding: 32px;
  justify-content: space-between;

}

.category {
  text-transform: uppercase;
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #91918c;
}

.heroHeadline {
  font-size: 32px;
  line-height: 1.125;
  font-weight: 700;
  letter-spacing: -0.03em;
  overflow: hidden;
}

.paragraph {
  margin-top: 12px;
  font-size: 14px;
  line-height: 1.28577;
  font-weight: 600;
  letter-spacing: -0.016em;
}

.cardDate {
  margin-top: 12px;
  font-size: 14px;
  line-height: 1.28577;
  font-weight: 600;
  letter-spacing: -0.016em;
  color: #91918c;
}

/*  */
.card2up {
  flex-direction: column;
  width: 472px;
}

.up2Img {
  width: 100%;
  height: auto;
}

.up2Headline {
  font-size: 24px;
  line-height: 1.16667;
  font-weight: 700;
  letter-spacing: -0.03em;
}


/*  */
@media only screen and (max-width: 1068px) {
  .sectionContent {
    width: 692px;
  }

  .cardList {
    gap: 25px;
  }

  .cardHero {
    height: 255px;
  }

  .cardDesc {
    padding: 24px;
  }

  .heroHeadline {
    font-size: 19px;
  }

  .paragraph {
    font-size: 10px;
  }

  /*  */
  .card2up {
    width: 333px;
  }

  .up2Headline {
    font-size: 19px;
  }

}

@media only screen and (max-width: 735px) {
  .sectionContent {
    margin: 0 auto;
    width: 87.5%;
  }

  .cardList {
    flex-flow: column;
    justify-content: center;
    gap: 36px;
  }

  .cardHero {
    flex-direction: column;
    height: fit-content;
  }

  .heroImg {
    width: 100%;
    height: auto;
  }

  .card2up {
    width: 100%;
  }
}


.cardList a:focus {
  outline: 4px solid var(--focus-outline) ;
  outline-offset: 1px;
  border-radius: 16px;
}


/* item section  */

.itemSectionHeader {
  font-size: 24px;
  line-height: 1.16667;
  font-weight: 600;
  letter-spacing: -0.03em;

  max-width: 1300px;
  padding: 0 30px 24px 30px;
  margin: 0 auto;
}

.sectionHead2 {
  color: #6e6e73;
  ;
}

.itemContainer {
  max-width: 1300px;
  padding: 0 30px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
}


@media only screen and (max-width: 1068px) {
  .itemContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: auto;
    grid-column-gap: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .itemSectionHeader {
    font-size: 19px;
    max-width: 87.5%;
    padding: 0 0 24px 0;
  }

  .itemContainer {
    display: grid;
    grid-template-columns: 1fr;
    width: 87.5%;
    padding: 0;
    height: auto;
  }

}