.page {
  color: var(--main-text-color);
  margin-top: 45px;
}


/*  */
.topSection {
  background-color: var(--row-bg);
  padding: 10px 0;

}

.section {
  background-color: var(--row-bg);
  margin-top: 25px;
  padding: 36px 0;
}