.sectionContent {
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.sectionHead {
    font-size: 28px;
    line-height: 1.16667;
    font-weight: 700;
    letter-spacing: -0.03em;

    margin-bottom: 28px;

}

.sectionHead2 {
    font-size: 24px;
    font-weight: 600;
    color: var(--date-text-color);

}

.cardList {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    gap: 20px;
}

.card {
    position: relative;
    height: 100%;
    background-color: var(--main-bg);
    color: var(--main-text-color);
    display: flex;
    border-radius: 16px;
    overflow: hidden;

    transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);

}

.cardHero {
    flex-direction: column-reverse;
    height: 500px;
    width: 560px;
}

.card2up {
    flex-direction: column;
    width: 400px;
    height: 500px;
}


.cardImg {
    width: 100%;
    height: auto;
    margin: auto;
}

.cardDesc {
    display: flex;
    flex-direction: column;
    padding: 32px;
    justify-content: space-between;

}

.category {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 1.33;
    font-weight: 700;
    color: var(--date-text-color);
}

.cardHeadline {
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 700;
    letter-spacing: -0.03em;
}

.paragraph {
    margin-top: 12px;
    font-size: 14px;
    line-height: 1.28577;
    font-weight: 600;
    letter-spacing: -0.005em;
}


.seeMore {
    margin-top: 12px;
    color: var(--link-color);
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: .011em;
}

.card:hover .seeMore {
    text-decoration: underline;
}

.arrow {
    padding-left: 5.1px;
    height: 11px;
    width: auto;
}

.card:hover {
    transform: scale3d(1.01, 1.01, 1.01);
    box-shadow: 2px 4px 12px var(--card-hover-bg);

}


/*  */
@media only screen and (max-width: 1068px) {
    .sectionContent {
        width: 692px;
    }

    .sectionHead {
        font-size: 24px;
        margin-bottom: 24px;
    }

    .sectionHead2 {
        font-size: 20px;
    }

    .cardHero {
        flex-direction: column;
    }

    .cardHero,
    .card2up {
        height: 420px;
        width: 336px;
    }

    .cardDesc {
        padding: 24px;
    }

    .paragraph {
        font-size: 10px;
    }

    .cardHeadline {
        font-size: 19px;
    }

    .seeMore {
        font-size: 15px;
    }

    .arrow {
        padding-left: 4.5px;
        height: 10px;
        width: auto;
    }


}

@media only screen and (max-width: 735px) {
    .sectionContent {
        margin: 0 auto;
        width: 87.5%;
    }

    
    .sectionHead {
        font-size: 21px;
        margin-bottom: 24px;
    }

    .sectionHead2 {
        font-size: 18px;
    }

    .cardList {
        flex-flow: column;
        justify-content: center;
        gap: 36px;
    }

    .cardHero,
    .card2up {
        height: fit-content;
        width: 100%;
    }

    .card {
        padding-top: 20px;
    }



}


.cardList a:focus {
    outline: 4px solid var(--focus-outline);
    outline-offset: 1px;
    border-radius: 16px;
}